@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap'); /* H1 font-family: 'Alata', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lexend:wght@300&display=swap'); /* H2 font-family: 'Lexend', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lexend:wght@300&family=News+Cycle&display=swap'); /* P font-family: 'News Cycle', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap'); /* botões font-family: 'Jost', sans-serif;*/


/*principal.php*/

*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #D9A362;
}

#topo{

	width: 100vw;
	height: 12vh;
	background: #A65F46;
}
#logo{
	width: 10%;
	height: 100%;
	float: left;


}
#logo img{
	width: 70%;
	height: 90%;
	border-radius: 100px;
	border: 5px inset #FF7001;
	margin-left: 0.5vw;
}

#menu{
	width: 90%;
	height: 100%;
	margin-left: 10%;
}

ul.nav{
	list-style-type: none;
}


ul.nav li{
	margin-left: 2.5vw;
	float: left;
	border-right: 2px inset #384001;
	text-align: center;
	width: 10%;
	height: 10vh;
	padding-top: 1%;
	font-size: 20pt;
	color: #39362F;
	text-shadow: 1px 1px 2px #D9A362;
	font-family: 'Jost', sans-serif;
	
	
}


ul.nav li ol{
	display: none;
	list-style-type: none;
	width: 9vw;
	background-color: #A65F46;
	position: fixed;
	padding-top: 1vh;
	
}

ul.nav li:hover ol{
	display: block;
}
 

ul.nav li ol li{
	float: none;
	margin-left: 0px;
	padding-top: 0px;
	width: 100%;
	height: auto;

	
	

}

ul.nav li ol li a{

	font-family: 'Jost', sans-serif;
	font-size: 18pt;
	color: #39362F;
	text-decoration: none;
	text-shadow: 0px 0px 0px;


}

ul.nav li ol li a:hover{
	color: #195C00;
	text-shadow: 0px 0px 0px;


}

#principal{
	width: 100vw;
	height: 82.5vh;
}

#principal iframe{
	width: 100%;
	height: 100%;
	border: 0px;
}

#rodape{
	width: 100vw;
	height: 5.1vh;
	background: #A65F46;
	margin-top: 0.4vh;


}

#sobre h4{ /*Texto rodapé*/
	font-family: 'Jost', sans-serif;
	color: #39362F;
	font-size: 14pt;
	text-align: center;
	text-indent: 10%;
	width: 72%;
	margin-left: 10vw;
	padding-top: 1.5vh;
	text-shadow: none;

}

/*home.php*/

h1{
	font-family: 'Alata', sans-serif;
	font-size: 4rem;
	color: #BF5630;
	text-shadow: 1px 1px 3px #FFDA00;
	text-align: center;
	padding-top: 1vh;
}

p{
	text-shadow: 0px;
	font-family: 'News Cycle', sans-serif;
	font-size: 3rem;
	text-decoration: none;
	color: #BF5630;
	text-align: center;
	
}

h2{
	font-family: 'Lexend', sans-serif;
	font-size: 4rem;
	text-decoration: none;
	color: #BF5630;
	text-align: center;
	text-shadow: 1px 1px 3px #FFDA00;
}



/*index.php*/

#login{
	min-height: 15vh;
	background:linear-gradient(#D9A362,#593B16);
	border-radius: 140px;
	border: 3px inset #FF7001;
	width: 50vw;
	margin-left: 25vw;
	margin-top: 10vh;
}

#login h3{
	margin-left: 25vw;
}

#login h1{
	font-family: 'Alata', sans-serif;
	font-size: 2.5rem;
	color: #593B16;
	text-shadow: 1px 1px 3px #FF7001;
	text-align: center;
	padding-top: 1vh;

}

#login p{

	font-family: 'News Cycle', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #593B16;
	text-align: left;
	margin-left: 4vw;
	text-shadow: 1px 1px 2px #FF7001;
}

/*listar animais*/

#listarbicho{

	margin-top: 10vh;
	max-width: 80vw;
	margin-left: 10vw;
	border: 2px inset #FF7001;

}

#listarbicho th{
	background-color: #B64926;
	text-align: center;
	font-family: 'News Cycle', sans-serif;
	font-size: 1.5rem;
	color: #FFC476;
	width: auto;
	border: 2px inset #FF7001;
}

#listarbicho td{
	background-color: #D9985F;
	text-align: center;
	font-family: 'News Cycle', sans-serif;
	font-size: 2rem;
	color: #593B16;
	width: auto;
	border: 1px inset #FF7001;
}

h5{
	font-size: 2rem;
	font-family: 'Lexend', sans-serif;
	color: #BF5630;
	text-align: center;
	text-shadow: 1px 1px 3px #FFDA00;
	padding-top: 10vh;

}

/*cadastrar animais*/

#cadastro{

	width: 60vw;
	margin-left: 20vw;
	min-height: 20vh;
	border: 3px inset  #FA5D5D;
	border-radius: 22px;
	margin-top: 15vh;
	color: #A65F46;
	background: #BF7950;
}

#cadastro h1{
	font-family: 'Alata', sans-serif;
	font-size: 2rem;
	color: #BF5630;
	text-shadow: 1px 1px 3px #FFDA00;
	text-align: center;
	padding-top: 1vh;
}

#cadastro p{
	font-family: 'News Cycle', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #593B16;
	text-align: left;
	margin-left: 2vw;
	text-shadow: 1px 1px 2px #FF7001;
}

#cadastro h3{
	text-align: center;
	padding-bottom: 2vh;
}

/*cadastrar vet*/

#veterinario{
	width: 60vw;
	margin-left: 20vw;
	min-height: 20vh;
	border: 3px inset  #FA5D5D;
	border-radius: 22px;
	margin-top: 15vh;
	color: #A65F46;
	background: #BF7950;
}

#veterinario h1{
	font-family: 'Alata', sans-serif;
	font-size: 2rem;
	color: #BF5630;
	text-shadow: 1px 1px 3px #FFDA00;
	text-align: center;
	padding-top: 1vh;
}

#veterinario p{
	font-family: 'News Cycle', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #593B16;
	text-align: left;
	margin-left: 2vw;
	text-shadow: 1px 1px 2px #FF7001;

}

#veterinario h3{
	text-align: center;
	padding-bottom: 2vh;
}

/*aplicacaoVermifugo.php*/

#vermifugo{
	background: #BF7950;
	border: 3px inset #FA5D5D;
	border-radius: 20px;
	width: 50vw;
	margin-top: 2vh;
	margin-left: 25vw;
}
#vermifugo h1{
	font-size: 2rem;
}

#vermifugo h2{
	font-size: 1.2rem;
	text-shadow: none;
	color: #593B16;
}
#vermifugo p{
	font-size: 1.2rem;
	color: #593B16;
}
#vermifugo h3{
	text-align: center;
	padding-bottom: 1vh;
}

#animalcadas{
	background: #BF7950;
	border: 3px inset #FA5D5D;
	border-radius: 20px;
	width: 50vw;
	margin-top: 2vh;
	margin-left: 25vw;
	height: 15vh;
}

#animalcadas h1{
	font-size: 2rem;
}

#animalcadas h2{
	font-size: 1.2rem;
	text-shadow: none;
	color: #593B16;
}
#animalcadasp{
	font-size: 1.2rem;
	color: #593B16;
}
#animalcadas h3{
	text-align: center;
	padding-bottom: 1vh;
}

#cadanimal{

	width: 60vw;
	margin-left: 20vw;
	min-height: 25vh;
	border: 3px inset  #FA5D5D;
	border-radius: 22px;
	margin-top: 15vh;
	color: #A65F46;
	background: #BF7950;
	padding-top: 2vh;
}

#cadanimal h1{
	font-family: 'Alata', sans-serif;
	font-size: 2rem;
	color: #BF5630;
	text-shadow: 1px 1px 3px #FFDA00;
	text-align: center;
	padding-top: 1vh;
}

#cadanimal p{
	font-family: 'News Cycle', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #593B16;
	text-align: left;
	margin-left: 2vw;
	text-shadow: 1px 1px 2px #FF7001;
}

#cadanimal h3{
	text-align: center;
	padding-bottom: 2vh;
}

/*informacao.php*/

h4{
	font-family: 'Alata', sans-serif;
	font-size: 2rem;
	color: #BF5630;
	text-shadow: 1px 1px 3px #FFDA00;
	text-align: center;
	padding-top: 1vh;
}

#obs{
	text-shadow: 0px;
	font-family: 'News Cycle', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #BF5630;
	text-align: left;
	margin-left: 3vw;
	padding-top: 2vh;
	
}

#info{
	font-family: 'Lexend', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #BF5630;
	text-align: center;
	text-shadow: 1px 1px 3px #FFDA00;
}

#informa{
	font-family: 'Lexend', sans-serif;
	font-size: 2rem;
	text-decoration: none;
	color: #BF5630;
	text-align: center;
	text-shadow: 1px 1px 3px #FFDA00;
	padding-top: 3vh;
}

#curio{
	font-family: 'Alata', sans-serif;
	font-size: 1.4rem;
	color: #BF5630;
	text-align: left;
	padding-top: 1vh;
	margin-left: 5vw;

}

#subt{
	font-family: 'Alata', sans-serif;
	font-size: 1.5rem;
	color: #BF5630;
	text-align: left;
	padding-top: 1vh;
	margin-left: 0vw;
	text-shadow: 1px 1px 3px #FFDA00;
}

hr{
	background-color: #BF5630;
	height: 0.5vh;
	padding-top: 1vh;
	border: 1px dashed #FFDA00;
	width: 99vw;
	margin-bottom: 1vh;
}

#linkes{
	width: 60vw;
	margin-left: 20vw;
	min-height: 20vh;
	border: 3px inset  #BF5630;
	border-radius: 22px;
	margin-top: 5vh;
	color: #A65F46;
	background: #BF7950;
}

#linkes p{
	font-family: 'News Cycle', sans-serif;
	font-size: 1.5rem;
	color: #593B16;
	text-align: center;
	padding-bottom: 1vh;
}

#linkes a{
	text-decoration: none;
	font-family: 'News Cycle', sans-serif;
	font-size: 1.5rem;
	color: #593B16;
	text-align: center;
}

#linkes p:hover{
	color: #FFFE57;
	font-weight: bolder;
	text-shadow: 0px 0px 2px #FFFE57;
}


#cada{
	height: 0.5vh;
	border: 1px dashed #F2BE5C;
	width: 20vw;
	margin-left: 20vw;
	margin-bottom: 1vh;
	margin-top: 0.5vh;
}